html {
    font-size: 1vw;
    background: none;
    background-color: var(--bg-color);
}

:root {

    --font-color: #0f0f0f;
    --bg-color: #fefefe;

}

/* Still unsure what this means exactly */
[data-theme="dark"] {
    --font-color: #fefefe;
    --bg-color: #121212;    
}

.switch {
    height: 100px;
    position: fixed;
    right: 50px;
    top: 50px;
}
    
.theme-switch {
  display: inline-block;
  position: relative;
  height: 34px;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text {
    line-height: 1.7em;
}

body {
    margin: 0;
    height: 100vh;
}

header {
    font-family: 'Zen Kurenaido', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main > div:nth-child(odd) {
    background-color: #eee;
}

ul {
    padding-left: 3vw;
}

#education, #workHistory, #certifications {
    width: 42%;
    align-self: center;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 2em;
}

#certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > ul {
    list-style-type: none;
}
